<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Doc" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.13.41046" newVersion="7.1.13.41046" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Zibs" publicKeyToken="66e369b8d20e72a6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7330.1268" newVersion="2.0.7330.1268" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StaticClasses" publicKeyToken="837f63ff2b74b623" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7330.1327" newVersion="2.0.7330.1327" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
